[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
urllib3 = ">=2.7.0"
requests = ">=2.32.3"
kubernetes = ">=30.1.0"
boto3 = "*"
pyyaml = "*"
"ruamel.yaml" = "*"
Click = "*"
cerberus = "*"
awscli = "*"
pydantic = "==2.12.2"
rich = "==14.2.0"
textual = "==7.0.0"
ijson = "*"
psutil = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
requests-mock = "*"
coverage = "*"
moto = "*"
testcontainers = {extras = ["k3s"], version = "*"}
pytest-asyncio = "*"

[requires]
python_version = "3.11"

[scripts]
test = "coverage run -m pytest"
coverage = "coverage"
