[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.32.3"
kubernetes = ">=30.1.0"
boto3 = "*"
pyyaml = "*"
"ruamel.yaml" = "*"
Click = "*"
cerberus = "*"
awscli = "*"
pydantic = "==2.12.2"
gunicorn = "*"
uvicorn = {extras = ["standard"], version = "*"}
tinydb = "*"
fastapi = {extras = ["standard"], version = "==0.118.0"}
rich = ">=14.0.0"

[dev-packages]
pytest = "*"
pytest-mock = "*"
requests-mock = "*"
coverage = "*"
moto = "*"
testcontainers = {extras = ["k3s"], version = "*"}
httpx = "*"

[requires]
python_version = "3.11"

[scripts]
test = "coverage run -m pytest"
coverage = "coverage"
api-dev = "fastapi dev console_link/api/main.py"
