[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
console-link = {file = "../lib/console_link"}
cluster_tools = {editable = true, path = "."}
argparse = "*"
argcomplete = "*"
kubernetes = ">=30.1.0"
pydantic = "==2.12.2"
tinydb = "*"

[dev-packages]
pytest = "*"
coverage = "*"
testcontainers = {extras = ["opensearch"], version = "*"}

[requires]
python_version = "3.11"

[scripts]
test = "coverage run -m pytest"
coverage = "coverage"
