version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/deployment/migration-assistant-solution"
    schedule:
      interval: "weekly"
    groups:
      migration-assistant-npm:
        patterns:
          - "*"
    ignore:
      - dependency-name: "eslint"
        update-types:
          - "version-update:semver-major"

  - package-ecosystem: "npm"
    directory: "/deployment/cdk/opensearch-service-migration"
    schedule:
      interval: "weekly"
    groups:
      opensearch-cdk-npm:
        patterns:
          - "*"
    ignore:
      - dependency-name: "eslint"
        update-types:
          - "version-update:semver-major"

  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      gradle-all:
        patterns:
          - "*"
    ignore:
      - dependency-name: "com.avast.gradle.docker-compose"
      - dependency-name: "io.netty:*"
      - dependency-name: "io.projectreactor.netty:*" # reactor-netty 1.3+ requires Netty 4.2
      - dependency-name: "io.projectreactor:reactor-test" # reactor-test 3.8+ requires Netty 4.2
      - dependency-name: "io.opentelemetry.semconv:*"
      - dependency-name: "org.apache.commons:commons-compress"
      - dependency-name: "org.apache.lucene:*"
      - dependency-name: "org.gradle.toolchains.foojay-resolver-convention"
      - dependency-name: "org.jcommander:jcommander"
      - dependency-name: "org.opensearch:*"
      - dependency-name: "org.opensearch.plugin:*"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
      - dependency-name: "errorprone"
      - dependency-name: "software.amazon.msk:aws-msk-iam-auth" # > 2.3.4 requires java 17
      - dependency-name: "org.junit:junit-bom"
      - dependency-name: "org.junit.platform:*"
      - dependency-name: "org.junit.jupiter:*"
      - dependency-name: "com.diffplug.spotless" # Spotless Plugin >= 8 requres java 17 which requires solutions release to update
      - dependency-name: "io.freefair.lombok" # Lombok Plugin >= 9 requres java 17 which requires solutions release to update

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      github-actions-all:
        patterns:
          - "*"

  - package-ecosystem: "pip"
    directory: "/migrationConsole/lib/console_link"
    schedule:
      interval: "weekly"
    groups:
      pip-console-link:
        patterns:
          - "*"

  - package-ecosystem: "pip"
    directory: "/migrationConsole/cluster_tools"
    schedule:
      interval: "weekly"
    groups:
      pip-cluster-tools:
        patterns:
          - "*"

  - package-ecosystem: "pip"
    directory: "/migrationConsole/lib/integ_test"
    schedule:
      interval: "weekly"
    groups:
      pip-integ-test:
        patterns:
          - "*"

  - package-ecosystem: "pip"
    directory: "/libraries/testAutomation"
    schedule:
      interval: "weekly"
    groups:
      pip-test-automation:
        patterns:
          - "*"

  - package-ecosystem: "pip"
    directory: "/test/cleanupDeployment"
    schedule:
      interval: "weekly"
    groups:
      pip-cleanup-deployment:
        patterns:
          - "*"

  - package-ecosystem: "pip"
    directory: "/TrafficCapture/dockerSolution/src/main/docker/elasticsearchTestConsole"
    schedule:
      interval: "weekly"
    groups:
      pip-es-test-console:
        patterns:
          - "*"

  - package-ecosystem: "pip"
    directory: "/TrafficCapture/dockerSolution/src/main/docker/k8sConfigMapUtilScripts"
    schedule:
      interval: "weekly"
    groups:
      pip-k8s-configmap-utils:
        patterns:
          - "*"

  - package-ecosystem: "pip"
    directory: "/TrafficCapture/dockerSolution/otelConfigs"
    schedule:
      interval: "weekly"
    groups:
      pip-otel-configs:
        patterns:
          - "*"
