[flake8]
# pep8 codes - http://pep8.readthedocs.io/en/release-1.7.x/intro.html#error-codes
# E501 - line too long
# E265 - block comment should start with '# '
# E402 - module level import not at top of file
# E999 - SyntaxError: EOL while scanning string literal
# W293 - Blank line contains whitespace (IDEs automatically add whitespace to indent to same level as block)
# W504 - Line break occurred after a binary operator
ignore = E265,E402,E999,W293,W504
max-line-length = 120
exclude = .tox,.git,*/migrations/*,*/static/CACHE/*,docs,node_modules,.venv,venv,test_env,*/cdk.out/*,*/build/*,.gradle

# F401 - Unused imports -- this is the only way to have a file-wide rule exception
per-file-ignores =
    # We utilize * imports on test files here to dynamically collect test cases
    conftest.py: F401,F403
