.coverage
coverage.xml
.idea
.DS_Store
.venv
__pycache__
*.egg-info*
.python-version
logs
.vscode/
db.sqlite3

# Build files
plugins/opensearch/loggable-transport-netty4/.gradle/
TrafficCapture/**/out/

RFS/.gradle/
RFS/bin/
RFS/build/

TrafficCapture/**/bin/

# CDK files from end-to-end testing
opensearch-cluster-cdk/
test/opensearch-cluster-cdk/
