.coverage
coverage.xml
.idea
.DS_Store
.gradle/
.venv
__pycache__
*.egg-info*
.python-version
logs
.vscode/
tmp/

**/build/
**/builds/
jenkinsdocker/**/nextBuildNumber
**/bin/

# The whole plugins directory needs to be removed
plugins/opensearch/loggable-transport-netty4/.gradle/
# Build files
TrafficCapture/**/out/

# CDK files from end-to-end testing
opensearch-cluster-cdk/
test/opensearch-cluster-cdk/
TrafficCapture/dockerSolution/src/main/docker/migrationConsole/staging
