bower.runPreStep=false
cocoapods.runPreStep=false
excludes=**/*
go.collectDependenciesAtRuntime=false
gradle.resolveDependencies=false
haskell.runPreStep=false
hex.runPreStep=false
includes=nothing
maven.resolveDependencies=false
npm.includeDevDependencies=false
npm.resolveDependencies=false
npm.runPreStep=false
nuget.runPreStep=false
paket.runPreStep=false
php.runPreStep=false
python.ignorePipInstallErrors=true
python.includePipenvDevDependencies=false
python.installVirtualenv=false
python.invokePipAsModule=false
python.path=python3.11
python.pipenvDevDependencies=false
python.resolveDependencies=false
python.resolveHierarchyTree=false
python.resolvePipEditablePackages=false
python.resolveSetupFiles=false
python.runPipenvPreStep=false
python.runPoetryPreStep=false
r.runPreStep=false
resolveAllDependencies=false
ruby.installMissingGems=false
ruby.runBundleInstall=false
sbt.runPreStep=false
