apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Release.Name }}-helm-uninstaller
  labels:
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    app.kubernetes.io/name: {{ .Chart.Name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
  annotations:
    "helm.sh/hook": pre-delete
    "helm.sh/hook-weight": "-10"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
spec:
  backoffLimit: 1
  ttlSecondsAfterFinished: 600
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ .Chart.Name }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      serviceAccountName: {{ .Values.installer.serviceAccount.name }}
      restartPolicy: Never
      containers:
        - name: helm-uninstaller
          image: {{ .Values.images.installer.repository}}:{{ .Values.images.installer.tag }}
          imagePullPolicy: {{ .Values.images.installer.pullPolicy }}
          command:
            - /bin/sh
            - -c
            - |
              #!/bin/sh
              set -e

              {{ include "migration.helmUninstallFunctions" . | nindent 14 }}
              # Skip fluent-bit (logging); kyverno handled at end of uninstall_charts
              uninstall_charts fluent-bit

---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Release.Name }}-helm-uninstaller-logging
  labels:
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    app.kubernetes.io/name: {{ .Chart.Name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
  annotations:
    "helm.sh/hook": post-delete
    "helm.sh/hook-weight": "10"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
spec:
  backoffLimit: 1
  ttlSecondsAfterFinished: 600
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ .Chart.Name }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      serviceAccountName: {{ .Values.installer.serviceAccount.name }}
      restartPolicy: Never
      containers:
        - name: helm-uninstaller-logging
          image: {{ .Values.images.installer.repository}}:{{ .Values.images.installer.tag }}
          imagePullPolicy: {{ .Values.images.installer.pullPolicy }}
          command:
            - /bin/sh
            - -c
            - |
              #!/bin/sh
              set -e

              {{ include "migration.helmUninstallFunctions" . | nindent 14 }}
              # Kyverno already uninstalled in pre-delete hook
              uninstall_charts kyverno
