{{- if get .Values.conditionalPackageInstalls "otel-collector-daemonset" }}
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: otel-collector
  namespace: {{ .Release.Namespace }}
  labels:
    app: otel-collector
spec:
  selector:
    matchLabels:
      app: otel-collector
  template:
    metadata:
      labels:
        app: otel-collector
    spec:
      serviceAccountName: {{ .Values.otelConfiguration.serviceAccountName }}
      containers:
        - name: otel-collector
          image: public.ecr.aws/aws-observability/aws-otel-collector:v0.43.3
          env:
            - name: K8S_NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: OTEL_CONFIG_LOG
              value: "true"
            - name: OTEL_LOG_LEVEL
              value: "debug"
            - name: QUALIFIER
              value: {{ .Values.stageName }}
            - name: TRACE_SAMPLING_PERCENTAGE
              value: "1"
{{- if .Values.otelConfiguration.env }}
{{ toYaml .Values.otelConfiguration.env | indent 12 }}
{{- end }}
          args:
            - "--config=/etc/otel/collector.yaml"
          ports:
            - name: otlp-grpc
              containerPort: 4317
            - name: otlp-http
              containerPort: 4318
            - name: prometheus
              containerPort: 8889
            - name: zpages
              containerPort: 55679
            - name: pprof
              containerPort: 1888
          resources:
            limits:
              cpu: 500m
              memory: 1Gi
            requests:
              cpu: 100m
              memory: 200Mi
          volumeMounts:
            - name: otel-collector-config
              mountPath: /etc/otel/
      tolerations:
        - operator: Exists
      volumes:
        - name: otel-collector-config
          configMap:
            name: otel-collector-config
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-collector-config
  namespace: {{ .Release.Namespace }}
data:
  collector.yaml: |
{{ .Values.otelConfiguration.collectorConfig | indent 4 }}

---
apiVersion: v1
kind: Service
metadata:
  name: otel-collector
  namespace: {{ .Release.Namespace }}
  labels:
    app: otel-collector
spec:
  selector:
    app: otel-collector
  ports:
    - name: otlp-grpc
      port: 4317
      targetPort: otlp-grpc
    - name: otlp-http
      port: 4318
      targetPort: otlp-http
    - name: prometheus
      port: 8889
      targetPort: prometheus
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: otel-collector-monitor
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "1"
  labels:
    app: otel-collector
    release: kube-prometheus-stack
spec:
  selector:
    matchLabels:
      app: otel-collector
  namespaceSelector:
    matchNames:
      - {{ .Release.Namespace }}
  endpoints:
    - port: prometheus
      interval: 15s
      path: /metrics
{{- end }}
