<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" packages="io.opentelemetry.instrumentation.log4j.appender.v2_17">
    <Properties>
        <Property name="tupleDir">${env:TUPLE_DIR_PATH:-./logs/tuples}</Property>
    </Properties>
    <Appenders>
        <Console name="STDERR" target="SYSTEM_ERR">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss,SSS}{UTC} [%t] %c{1} - %msg%equals{ ctx=%mdc}{ ctx={}}{}%n" />
        </Console>

        <RollingFile name="ReplayerLogFile" fileName="logs/replayer.log" filePattern="logs/$${date:yyyy-MM}{UTC}/replayer-%d{yyyy-MM-dd-HH-mm}-%i.log.gz">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss,SSS}{UTC} [%t] %c{1} - %msg%equals{ ctx=%mdc}{ ctx={}}{}%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="15" modulate="true" />
            </Policies>
            <DefaultRolloverStrategy max="288" />
        </RollingFile>

        <RollingFile name="OUTPUT_TUPLES" fileName="${tupleDir}/tuples.log" filePattern="${tupleDir}/tuples-%d{yyyy-MM-dd-HH:mm}{UTC}.log">
            <JsonLayout properties="false" complete="false" eventEol="true" compact="true" />
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy />
        </RollingFile>

        <OpenTelemetry name="METRICS" captureMapMessageAttributes="true" captureExperimentalAttributes="true" captureContextDataAttributes="*" />
    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="STDERR" />
            <AppenderRef ref="ReplayerLogFile" />
        </Root>

        <Logger name="MetricsLogger" level="info" additivity="false">
            <AppenderRef ref="METRICS" />
        </Logger>

        <Logger name="OutputTupleJsonLogger" level="info" additivity="false">
            <AppenderRef ref="OUTPUT_TUPLES" />
        </Logger>
    </Loggers>
</Configuration>
