{{- $bucketName := printf "migrations-default-%s-%s-%s" (toString .Values.aws.account) .Values.stageName .Values.aws.region -}}
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ .Release.Namespace }}-s3-snapshot
spec:
  capacity:
    storage: 1200Gi
  accessModes:
    - ReadOnlyMany
  mountOptions:
    - --read-only
    - --region {{ .Values.aws.region }}
    {{- if .Values.defaultBucketConfiguration.useLocalStack }}
    - --endpoint-url http://{{ .Values.defaultBucketConfiguration.endpoint }}.{{ .Release.Namespace }}.svc.cluster.local:4566
    - --force-path-style
    {{- end }}
  csi:
    driver: s3.csi.aws.com
    volumeHandle: {{ .Release.Namespace }}-s3-snapshot
    volumeAttributes:
      bucketName: {{ $bucketName }}
