apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: s3-snapshot
spec:
  accessModes:
    - ReadOnlyMany
  storageClassName: ""
  resources:
    requests:
      storage: 1200Gi
  volumeName: {{ .Release.Namespace }}-s3-snapshot
