
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: migrations-default-s3-config
  labels:
    workflows.argoproj.io/configmap-type: Parameter
data:
  AWS_REGION: {{ .Values.aws.region }}
  {{- if .Values.defaultBucketConfiguration.useLocalStack }}
  ENDPOINT: "localstack://{{ .Values.defaultBucketConfiguration.endpoint }}.{{ .Release.Namespace }}.svc.cluster.local:4566"
  ENDPOINT_HTTP: "http://{{ .Values.defaultBucketConfiguration.endpoint }}.{{ .Release.Namespace }}.svc.cluster.local:4566"
  {{- else }}
  ENDPOINT: ""
  ENDPOINT_HTTP: ""
  {{- end }}
  {{- if .Values.defaultBucketConfiguration.snapshotRoleArn }}
  SNAPSHOT_ROLE_ARN: "{{ .Values.defaultBucketConfiguration.snapshotRoleArn }}"
  {{- else }}
  SNAPSHOT_ROLE_ARN: ""
  {{- end }}
  BUCKET_NAME: {{ printf "\"migrations-default-%s-%s-%s\"" (toString .Values.aws.account) .Values.stageName .Values.aws.region }}
