[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
botocore = "*"
django = "*"
djangorestframework = "*"
langchain = "*"
langchain-aws = "*"
requests = "*"
django-cors-headers = "*"
drf-spectacular = "*"

[dev-packages]

[requires]
python_version = "3.12"
