[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kubernetes = ">=30.1.0"
argparse = "*"
tabulate = "*"

[requires]
python_version = "3.11"

[scripts]
app = "python3 testAutomation/test_runner.py"
