<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" packages="io.opentelemetry.instrumentation.log4j.appender.v2_17">
    <Appenders>
        <Console name="STDERR" target="SYSTEM_ERR">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss,SSS}{UTC} [%t] %c{1} - %msg%equals{ ctx=%mdc}{ ctx={}}{}%n" />
        </Console>

        <OpenTelemetry name="METRICS" captureMapMessageAttributes="true" captureExperimentalAttributes="true" captureContextDataAttributes="*" />
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDERR" />
        </Root>

        <Logger name="MetricsLogger" level="info" additivity="false">
            <AppenderRef ref="METRICS" />
        </Logger>
    </Loggers>
</Configuration>
