# kubernetes/rbac.yaml
apiVersion: v1
kind: ServiceAccount
metadata:
  name: migration-console-access-role

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: migration-console-access-role
rules:
  - apiGroups: [ "" ]
    resources: ["secrets"]
    verbs: ["list", "create", "update", "patch", "delete"]
  - apiGroups: [ "" ]
    resources: ["configmaps", "persistentvolumeclaims", "pods", "pods/log", "events"]
    verbs: ["get", "watch", "list", "create", "update", "patch", "delete", "deletecollection"]
  - apiGroups: ["apps"]
    resources: ["deployments", "deployments/scale"]
    verbs: ["get", "watch", "list", "create", "update", "patch", "delete", "deletecollection"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: migration-console-access-role
subjects:
  - kind: ServiceAccount
    name: migration-console-access-role
roleRef:
  kind: Role
  name: migration-console-access-role
  apiGroup: rbac.authorization.k8s.io
