{%- import "common/featureEnabled.j2" as fscope -%}

{%- macro route(input, field_to_match, feature_flags, default_action, routes) -%}
    {%- set ns = namespace(result=none, matched=false) -%}
    {%- for pattern, action_fn, feature_name_param in routes if not ns.matched -%}
        {%- set feature_name = feature_name_param | default(action_fn) -%}
        {%- if not ns.matched -%} {# we haven't found a match yet, otherwise skip the rest #}
            {%- set match = field_to_match | regex_capture(pattern) -%}
            {%- if match is not none -%}
                {%- set ns.matched = true -%}
                {%- if fscope.is_enabled(feature_flags, feature_name) -%}
                    {%- set ns.result = invoke_macro(action_fn, match, input) -%}
                {%- endif -%}
            {%- endif -%}
        {%- endif -%}
    {%- endfor -%}
    {%- if ns.result is none -%}
        {{- invoke_macro(default_action, input) -}}
    {%- else -%}
        {{- ns.result -}}
    {%- endif -%}
{%- endmacro -%}