{% import "common/featureEnabled.j2" as flags %}
{% macro route(input, feature_flags, default_action, routes) %}
    {%- set ns = namespace(result=none, matched=false) -%}
    {%- for feature_name, pattern, action in routes if not ns.matched -%}
        {%- if not ns.matched -%} {# we haven't found a match yet, otherwise skip the rest #}
            checking {{ feature_name }}...
            {%- set match = none -%}
            {%- call pattern(input) -%}{%  endcall %}
            match {{ match }}...
            {%- if match is not none -%}
                in a non-null match {{ match }}
                in a match!
                {%- set ns.matched = true -%}
                {%- if flags.is_enabled(feature_flags, feature_name) -%}
                    {%- set ns.result = action | call(match) -%}
                {%- endif -%}
            {%- endif -%}
        {%- endif -%}
    {%- endfor -%}
    {%- if ns.result is none -%}
        default answer: {{- default_action | call(input) -}}
    {%- else -%}
        result: {{- ns.result -}}
    {%- endif -%}
{% endmacro %}