conditionalPackageInstalls:
  localstack: false

aws:
  configureAwsEksResources: true
  region: ""
  account: ""

defaultBucketConfiguration:
  useLocalStack: false
  deleteOnUninstall: true
  emptyBeforeDelete: true
  endpoint: ""

# Useful for updating images while developing
#images:
#  captureProxy:
#    pullPolicy: Always
#  trafficReplayer:
#    pullPolicy: Always
#  reindexFromSnapshot:
#    pullPolicy: Always
#  migrationConsole:
#    pullPolicy: Always
#  installer:
#    pullPolicy: Always

# For OTEL Daemonset
otelConfiguration:
  collectorConfig: |
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
    processors:
      batch:
        timeout: 10s
        send_batch_size: 8192
        send_batch_max_size: 10000
      probabilistic_sampler/traces:
        sampling_percentage: ${env:TRACE_SAMPLING_PERCENTAGE:-1}
      cumulativetodelta:
      resource/metrics:
        attributes:
          - key: qualifier
            value: ${env:QUALIFIER}
            action: upsert
      resource/remove_default_attributes:
        attributes:
          - key: telemetry.sdk.name
            action: delete
          - key: telemetry.sdk.version
            action: delete
          - key: telemetry.sdk.language
            action: delete
          - key: service.name
            action: delete
    extensions:
      health_check:
        endpoint: :13133
    exporters:
      awsemf:
        namespace: 'OpenSearchMigrations'
        dimension_rollup_option: NoDimensionRollup # Reduce number of metrics by only publishing with all dimensions
        resource_to_telemetry_conversion:
          enabled: true
      awsxray:
        index_all_attributes: true
      prometheus:
        endpoint: "0.0.0.0:8889"
        send_timestamps: true
        metric_expiration: 5m
        enable_open_metrics: true
      otlp/jaeger: # Jaeger supports OTLP directly. The default port for OTLP/gRPC is 4317
        endpoint: jaeger-collector:4317
        tls:
          insecure: true
    service:
      extensions: [health_check]
      pipelines:
        metrics:
          receivers: [otlp]
          processors: [batch, resource/remove_default_attributes, resource/metrics, cumulativetodelta]
          exporters: [awsemf, prometheus]
        traces:
          receivers: [otlp]
          processors: [probabilistic_sampler/traces, batch]
          exporters: [awsxray, otlp/jaeger]

charts:
  fluent-bit:
    values:
      env:
        - name: AWS_REGION
          valueFrom:
            configMapKeyRef:
              name: aws-metadata
              key: AWS_REGION
        - name: STAGE_NAME
          valueFrom:
            configMapKeyRef:
              name: aws-metadata
              key: STAGE_NAME

      config:
        # Change output destination to be CloudWatch
        outputs: |
          [OUTPUT]
              Name                cloudwatch_logs
              Match               fluentbit-*
              region              ${AWS_REGION}
              log_group_name      /migration-assistant-${STAGE_NAME}-${AWS_REGION}/logs
              log_stream_prefix   from-
              auto_create_group   true

      # Remove logs PVC mount for EKS deployment
      extraVolumes:
        - name: lua-scripts
          configMap:
            name: fluentbit-lua-scripts

      extraVolumeMounts:
        - name: lua-scripts
          mountPath: /fluentbit/scripts
          readOnly: true