conditionalPackageInstalls:
  bulkLoader: true
  grafana: false
  jaeger: false
  kafka: true
  migrationConsole: true
  prometheus: false
  proxy: true
  replayer: true
  sharedConfigs: true


shared-configs:
  globalParameters:
    sourceCluster:
      allowRuntimeOverride: true
      object:
        endpoint: "http://sourcecluster.example.com:9200"
        allowInsecure: true
    kafkaBrokers:
      allowRuntimeOverride: false
      object:
        brokers: "captured-traffic-kafka-bootstrap.ma.svc:9092"



capture-proxy:
  parameters:
    destinationUri:
      source: otherConfig
      configMapName: "source-cluster"
      configMapKey: "endpoint"
    insecureDestination:
      source: otherConfig
      configMapName: "source-cluster"
      configMapKey: "allowInsecure"
    kafkaConnection:
      source: otherConfig
      configMapName: "kafka-brokers"
      configMapKey: "brokers"


migration-console: {}

bulk-document-loader:
  parameters:
    luceneDir:
      source: parameterConfig
      value: /tmp
      allowRuntimeOverride: true
    snapshotName:
      source: parameterConfig
      value: rfs
      allowRuntimeOverride: true
    targetHost:
      source: parameterConfig
      value: https://opensearch-cluster-master.mcc:9200/
      allowRuntimeOverride: true
    snapshotLocalDir:
      source: parameterConfig
      value: /snapshot
      allowRuntimeOverride: true

replayer:
  parameters:
    targetUri:
      source: parameterConfig
      value: https://opensearch-cluster-master.mcc:9200/
      allowRuntimeOverride: true
    kafkaTrafficBrokers:
      source: otherConfig  # eventually this will become a list from a shared config
      configMapName: "kafka-brokers"
      configMapKey: "brokers"

captured-traffic-kafka-cluster:
  environment: test

  clusterName: captured-traffic

  replicas: 1
  storageType: ephemeral
  storageSize: 100Gi
  storageDeleteClaim: true
  dedicatedController:
    replicas: 1
    storageSize: 10Gi

jaeger:
  allInOne:
    enabled: true
  provisionDataStore:
    cassandra: false
  storage:
    type: memory
  agent:
    enabled: false
  collector:
    enabled: false
  query:
    enabled: false

grafana:
  ## Grafana data sources configuration
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Prometheus
          type: prometheus
          access: proxy
          url: http://prometheus-server.prometheus.svc.cluster.local:9090
          isDefault: true
          editable: true
        - name: Jaeger
          type: jaeger
          access: proxy
          url: http://jaeger-query.jaeger.svc.cluster.local:16686
          isDefault: false
          editable: true

  ## Set up the sidecar to import data sources (usually enabled by default)
  sidecar:
    datasources:
      enabled: true
    dashboards:
      enabled: true
      label: grafana_dashboard
