[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
console-link = {file = "../console_link"}
cluster-curl = {file = ".", editable = true}
Click = "*"

[dev-packages]

[requires]
python_version = "3.11"
