[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
awscli = ">=1.45.6"
awscurl = ">=0.42"
opensearch-benchmark = ">=2.3.0"
pandas = "*"
requests = ">=2.32.3"
tqdm = ">=4.66.4"
urllib3 = ">=2.7.0"

[dev-packages]

[requires]
python_version = "3.11"
