[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
awscli = ">=1.32.106"
awscurl = ">=0.33"
opensearch-benchmark = ">=2.0.0"
requests = ">=2.32.3"
tqdm = ">=4.66.4"
urllib3 = ">=1.26.19"

[dev-packages]

[requires]
python_version = "3.11"
