[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
console-link = {file = "../lib/console_link", editable = true}
django = ">=4.2.14"
django-extensions = ">=3.2.3"
djangorestframework = ">=3.15.2"
sqlparse = ">=0.5.0"
pyopenssl = "*"
# Security Upgrades
werkzeug = ">=3.0.3"

[dev-packages]
coverage = "*"
moto = {version = "*", extras = ["sts"]}

[requires]
python_version = "3.11"

[scripts]
test = "coverage run --source='.' manage.py test console_api"
coverage = "coverage"
