# templates/create-argo-migration-templates
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Release.Name }}-create-argo-migration-templates
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "5"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
spec:
  ttlSecondsAfterFinished: 600
  backoffLimit: 3
  template:
    metadata:
      labels:
        app: create-argo-migration-workflows
    spec:
      serviceAccountName: {{ .Values.installer.serviceAccount.name }}
      restartPolicy: OnFailure
      containers:
        - name: migration-console-for-workflows
          image: {{ .Values.images.migrationConsole.repository }}:{{ .Values.images.migrationConsole.tag }}
          imagePullPolicy: {{ .Values.images.migrationConsole.pullPolicy }}
          command:
            - "/bin/sh"
            - "-c"
            - |
              set -exo pipefail
              echo "Installing templates for argo workflows."
              NAMESPACE="{{ .Release.Name }}"
              APP_NAME="{{ .Release.Name }}"
              OWNER="{{ .Release.Name }}"
              VERSION="0.0.1"

              . /etc/profile.d/venv.sh
              source /.venv/bin/activate

              apply_workflows() {
                local dir="$1"
                echo "Installing workflow templates from $dir"
                pushd "$dir"

                for f in *.yaml; do
                  [ -f "$f" ] || continue
                  JSFILE="${f%.yaml}.json"
                  python3 -c 'import sys, yaml, json; json.dump(yaml.safe_load(sys.stdin), sys.stdout)' < "$f" > $JSFILE
                  jq --arg app "$APP_NAME" \
                      --arg version "$VERSION" \
                      --arg managedBy "$OWNER" \
                      '.metadata.labels.app = $app |
                      .metadata.labels.version = $version |
                      .metadata.labels."managed-by" = $managedBy' \
                      "$JSFILE" > "$JSFILE.tmp"
                  kubectl apply -f $JSFILE.tmp -n $NAMESPACE
                done
                popd
              }
              apply_workflows "workflows"
              apply_workflows "lib/integ_test/testWorkflows"
---
# templates/remove-argo-migration-templates
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Release.Name }}-remove-argo-migration-templates
  annotations:
    "helm.sh/hook": pre-delete
    "helm.sh/hook-weight": "5"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
spec:
  ttlSecondsAfterFinished: 600
  backoffLimit: 3
  template:
    metadata:
      labels:
        app: create-argo-migration-workflows
    spec:
      serviceAccountName: {{ .Values.installer.serviceAccount.name }}
      restartPolicy: OnFailure
      containers:
        - name: migration-console-for-workflows
          image: {{ .Values.images.migrationConsole.repository }}:{{ .Values.images.migrationConsole.tag }}
          imagePullPolicy: {{ .Values.images.migrationConsole.pullPolicy }}
          command:
            - "/bin/sh"
            - "-c"
            - |
              set -e
              echo "Checking for Argo WorkflowTemplates managed by {{ .Release.Name }}..."
              templates=$(kubectl get workflowtemplates.argoproj.io -l managed-by={{ .Release.Name }} -o name || true)

              if [ -z "$templates" ]; then
                echo "No matching WorkflowTemplates found. Nothing to delete."
              else
                echo "Deleting WorkflowTemplates:"
                echo "$templates"
                echo "$templates" | xargs kubectl delete
              fi
