[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
console-link = {file = "../console_link", editable = true}
certifi = ">=2024.7.4"
charset-normalizer = ">=3.1.0"
idna = ">=3.7"
iniconfig = ">=2.0.0"
packaging = ">=23.1"
pluggy = ">=1.0.0"
pytest = ">=7.3.1"
pytest-xdist = ">=3.3.1"
requests = ">=2.32.3"
# urllib3 is a transitive dependency, pinned here for CVE management (CVE-2025-66471, CVE-2025-66418)
urllib3 = ">=2.6.0"
requests-aws4auth = "*"
boto3 = "*"
pytest-sugar = "*"
[dev-packages]

[requires]
python_version = "3.11"
