version: '3.7'
services:

  # To run from this directory:
  # Start:
  # docker compose -f docker-compose-console-only.yml up
  # Tear Down:
  # docker compose -f docker-compose-console-only.yml down
  migration-console:
    image: 'migrations/migration_console:latest'
    networks:
      - migrations
    volumes:
      - ./lib/console_link/services.yaml:/etc/migration_services.yaml
      # this is a convenience thing for testing -- it should be removed before this makes it to prod.
      - ./lib/console_link:/root/lib/console_link
    environment:
      # Copy local AWS env to Docker container
      #- ~/.aws:/root/.aws
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_SESSION_TOKEN=${AWS_SESSION_TOKEN}
      - AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION}
      - API_ALLOWED_HOSTS=localhost
    ports:
      - "8000:8000"
    command: python3 /root/console_api/manage.py runserver_plus 0.0.0.0:8000

networks:
  migrations:
    driver: bridge
