apiVersion: v1
kind: ConfigMap
metadata:
  name: migration-image-config
  labels:
    # Necessary label for Argo to pull values from a configmap
    workflows.argoproj.io/configmap-type: Parameter

data:
  captureProxyImage: "{{ include "migrationAssistant.image" (dict "imageConfig" .Values.images.captureProxy "registryPrefix" .Values.images.registryPrefix) }}"
  captureProxyPullPolicy: "{{ .Values.images.captureProxy.pullPolicy }}"
  trafficReplayerImage: "{{ include "migrationAssistant.image" (dict "imageConfig" .Values.images.trafficReplayer "registryPrefix" .Values.images.registryPrefix) }}"
  trafficReplayerPullPolicy: "{{ .Values.images.trafficReplayer.pullPolicy }}"
  reindexFromSnapshotImage: "{{ include "migrationAssistant.image" (dict "imageConfig" .Values.images.reindexFromSnapshot "registryPrefix" .Values.images.registryPrefix) }}"
  reindexFromSnapshotPullPolicy: "{{ .Values.images.reindexFromSnapshot.pullPolicy }}"
  migrationConsoleImage: "{{ include "migrationAssistant.image" (dict "imageConfig" .Values.images.migrationConsole "registryPrefix" .Values.images.registryPrefix) }}"
  migrationConsolePullPolicy: "{{ .Values.images.migrationConsole.pullPolicy }}"
