[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.32.3"
kubernetes = ">=30.1.0"
boto3 = "*"
pyyaml = "*"
Click = "*"
cerberus = "*"
awscli = "*"
pydantic = "*"
gunicorn = "*"
uvicorn = {extras = ["standard"], version = "*"}
tinydb = "*"
fastapi = {extras = ["standard"], version = "*"}

[dev-packages]
pytest = "*"
pytest-mock = "*"
requests-mock = "*"
coverage = "*"
moto = "*"
testcontainers = {extras = ["k3s"], version = "*"}
httpx = "*"

[requires]
python_version = "3.11"

[scripts]
test = "coverage run -m pytest"
coverage = "coverage"
api-dev = "fastapi dev console_link/api/main.py"
