[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.32.3"
boto3 = "*"
pyyaml = "*"
Click = "*"
cerberus = "*"
awscli = "*"
requests-auth-aws-sigv4 = ">=0.7"

[dev-packages]
pytest = "*"
pytest-mock = "*"
requests-mock = "*"
coverage = "*"
moto = "*"

[requires]
python_version = "3.11"
