[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.32.3"
kubernetes = ">=30.1.0"
boto3 = "*"
pyyaml = "*"
Click = "*"
cerberus = "*"
awscli = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
requests-mock = "*"
coverage = "*"
moto = "*"
testcontainers = "*"

[requires]
python_version = "3.11"

[scripts]
test = "coverage run -m pytest"
coverage = "coverage"