name: Jenkins

on:
  push:
    branches-ignore:
      - 'backport/**'
      - 'dependabot/**'
  pull_request_target:
    types: [opened, synchronize, reopened]

env:
  python-version: '3.11'

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  get-require-approval:
    uses: ./.github/workflows/require-approval.yml

  full-es68-e2e-aws-test:
    needs: [get-require-approval]
    environment: ${{ needs.get-require-approval.outputs.is-require-approval }}
    runs-on: ubuntu-latest
    steps:
      - name: Sanitize branch and repo names
        env:
          BRANCH_NAME: ${{ github.event.pull_request.head.ref || github.ref_name }}
          REPO_BASE: ${{ github.event.pull_request.head.repo.full_name || github.repository }}
        id: sanitize-input
        run: |
          clean_branch_name=$(echo "$BRANCH_NAME" | tr -cd '[:alnum:]_\-\./')
          clean_repo_base=$(echo "$REPO_BASE" | tr -cd '[:alnum:]_\-\./')
          clean_repo_url="https://github.com/$clean_repo_base.git"
          echo "Running jenkins test on repo: $clean_repo_url and branch: $clean_branch_name"
          echo "branch_name=$clean_branch_name" >> $GITHUB_OUTPUT
          echo "pr_repo_url=$clean_repo_url" >> $GITHUB_OUTPUT
      - name: Jenkins Job Trigger and Monitor
        if: env.actor_permission == 'admin' || env.actor_permission == 'write'
        uses: lewijacn/jenkins-trigger@1.0.4
        with:
          jenkins_url: "https://migrations.ci.opensearch.org"
          job_name: "full-es68source-e2e-test"
          api_token: "${{ secrets.JENKINS_MIGRATIONS_GENERIC_WEBHOOK_TOKEN }}"
          job_params: "GIT_REPO_URL=${{ steps.sanitize-input.outputs.pr_repo_url }},GIT_BRANCH=${{ steps.sanitize-input.outputs.branch_name }}"
