name: Gradle Build and Test

on: [push, pull_request]

jobs:
  gradle-build-and-test:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout project sources
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3
        with:
          gradle-home-cache-cleanup: true

      - name: Run Gradle Build
        run: ./gradlew build -x test
        working-directory: TrafficCapture

      - name: Run Tests with Coverage
        run: ./gradlew jacocoTestReport --info
        working-directory: TrafficCapture

      - name: Upload to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: "TrafficCapture/**/jacocoTestReport.xml"
          flags: unittests
          fail_ci_if_error: false