name: Gradle Build and Test

on: [push, pull_request]

jobs:
  gradle-build-and-test:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout project sources
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'corretto'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: 8.0.2
          gradle-home-cache-cleanup: true

      - name: Run Gradle Build
        run: ./gradlew build -x test --scan --stacktrace
        env:
          OS_MIGRATIONS_GRADLE_SCAN_TOS_AGREE_AND_ENABLED: ''

      - name: Run Tests with Coverage
        run: ./gradlew test jacocoTestReport --scan --stacktrace
        env:
          OS_MIGRATIONS_GRADLE_SCAN_TOS_AGREE_AND_ENABLED: ''

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: traffic-capture-test-reports
          path: |
            ./TrafficCapture*/*/build/reports/

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: RFS-test-reports
          path: |
            ./RFS*/*/build/reports/
  
      - name: Upload to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: "**/jacocoTestReport.xml"
          flags: unittests
          fail_ci_if_error: false